.Featured-card {
  height: auto;
  width: 20rem;
  cursor: pointer;
  transition: transform 0.2s;
  transition-timing-function: ease-in;
}

.Featured-image {
  height: 12rem;
}

.Featured-image img {
  width: 100%;
  height: 100%;
}

.Featured-card-body {
  display: flex;
  padding: 0.5rem;
  gap: 0.7rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.Featured-card-details {
  width: 100%;
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Featured-card-details h4 {
  color: rgb(0, 0, 0, 0.6);
}

.Featured-card-details-category {
  padding: 0.1rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Featured-card-details span {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.Featured-card-avatar img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.Featured-card-icon {
  color: rgb(0, 0, 0, 0.6);
}

.Featured-card-footer {
  padding: 0.5rem;
  display: flex;
  opacity: 0;
  gap: 0.5rem;
}
.Featured-card-footer button {
  width: 100%;
  border: none;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.Featured-card:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(0, 0, 0, 0.1);
}
.Featured-card:hover > .Featured-card-footer {
  opacity: 1;
}

/* EXPLORE CARD  */

.Explore-card {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.Explore-image img {
  height: 100%;
  width: 100%;
}

.Explore-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  padding: 0.3rem;
}

.Explore-card-body h2 {
  color: rgb(0, 0, 0, 0.6);
}

.Explore-card-details {
  display: flex;
  gap: 0.5rem;
}

.Explore-card-details p {
  color: rgb(0, 0, 0, 0.6);
}

.Explore-card-icons {
  padding: 0.5rem;
  color: rgb(0, 0, 0, 0.6);
}
